<div class="flex-wraper max-w-6xl  px-10 m-4 p-4 bg-white  shadow-md">

    <div class="bg-white items-center justify-center font-family-karla h-120">
        <div class-" w-full flex items-center justify-center">
            <div class="bg-white w-1/3 mt-10 rounded-lg items-center justify-center">
            <h1>Profile Information</h1>
                <div class="flex items-center justify-center pt-10 flex-col">
                    <img src="https://www.pngfind.com/pngs/m/610-6104451_image-placeholder-png-user-profile-placeholder-image-png.png"
                        class="rounded-full w-32">
                        <h2>User ID: {{user_id}}</h2>
                        <h2>Username: {{username}}</h2>
                        <h2>Email: {{email}}</h2>
                </div>
            </div>
        </div>

        <div class="w-full flex flex-wrap m-4 content-center">
            {{#if scores.length}}
            <div class="w-full text-center">
                <h1>Score Summary</h1>
            </div>
            <div class="chart-container" style="position: relative; width:80vw">
                <canvas id="myChart"></canvas>
            </div>
            {{/if}}
            {{#unless scores.length}}
            <h2>Please take the quiz to view the summary</h2>
            {{/unless}}
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/javascript/dashboard.js"></script>