<main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-200">
    <div class="container mx-auto px-6 py-8">
        <h3 class="text-gray-700 text-3xl font-medium">Dashboard</h3>

        {{!-- last score, total scrore, add question, take a qiz section beggining --}}
        <div class="mt-4">
            <div class="flex flex-wrap -mx-6">
                <div class="w-full px-6 sm:w-1/2 xl:w-1/4">
                    <div class="flex items-center px-5 py-6 shadow-sm rounded-md bg-green-300">
                        <img class="h-18 text-white"
                            src="https://www.svgrepo.com/show/324119/exam-test-checklist-online-learning-education-online-document.svg">
                        <div class="mx-5">
                            <h5 id="last-result" class="text-2xl font-semibold text-gray-700">
                                {{lastScore}}
                            </h5>
                            <div class="text-gray-500">Last result</div>
                        </div>
                    </div>
                </div>
                <div class="w-full px-6 sm:w-1/2 xl:w-1/4">
                    <div class="flex items-center px-5 py-6 shadow-sm rounded-md bg-indigo-300">
                        <img class="h-18 text-white"
                            src="https://www.svgrepo.com/show/324120/graduation-education-cap-mortarboard-graduate.svg">
                        <div class="mx-5">
                            <h4 id="total-result" class="text-2xl font-semibold text-gray-700"> {{totalScore}}</h4>
                            <div class="text-gray-500">Total score</div>
                        </div>
                    </div>
                </div>
                <div class="w-full px-6 sm:w-1/2 xl:w-1/4">
                    <a href="/dashboard/question"
                        class="flex items-center px-5 py-6 shadow-sm rounded-md bg-pink-300 hover:bg-pink-400">
                        <img class="h-18 text-white"
                            src="https://www.svgrepo.com/show/324113/writing-education-learning-pencil-note-write-notebook.svg">
                        <div class="mx-5">
                            <h4 class="text-2xl font-semibold text-gray-700">Add question</h4>

                        </div>
                    </a>
                </div>
                <div class="w-full px-6 sm:w-1/2 xl:w-1/4 ">
                    <a href="/" class="flex items-center px-5 py-6 shadow-sm rounded-md bg-blue-300 hover:bg-blue-400">
                        <img class="h-18 text-white"
                            src="https://www.svgrepo.com/show/324109/training-elearning-education-tablet-online-electronics.svg">
                        <div class="mx-5">
                            <h4 class="text-2xl font-semibold text-gray-700">Take a quiz</h4>

                        </div>
                    </a>
                </div>

                {{!-- last score, total scrore, add question, take a qiz section end --}}

            </div>
        </div>

        <div class="flex-col  rounded-md mx-auto   mt-8 p-4 bg-white   shadow-md">

            <div class="bg-white font-family-karla ">
                <div class="w-full text-center">
                    <h2>Score Summary</h2>
                </div>
                {{!-- show chart --}}
                <div class=" flex  items-center  m-4 mx-auto sm:w-full xl:w-1/2">
                    {{#if scores.length}}


                    <canvas id="myChart"></canvas>


                    {{/if}}
                    {{#unless scores.length}}

                   <div class="text-center w-full text-xl italic text-blue-800">Please take the quiz to view the summary</div>
                    {{/unless}}
                </div>
            </div>
        </div>


        {{!-- profile section --}}
        <div class="w-full text-center mt-4 ">
            <h1>Profile Information</h1>
            <div class="flex items-center justify-center pt-10 flex-col">
                <img src="https://media.istockphoto.com/vectors/male-default-avatar-profile-icon-man-face-silhouette-person-vector-vector-id1223477625?b=1&k=20&m=1223477625&s=612x612&w=0&h=KVyP-ycbPbyeU6F8LApfeGB_9heimJMVu4d5GAsd48E="
                    class="rounded-full w-32">

                <h1>Username: {{username}}</h1>
                <h1>Email: {{email}}</h1>
            </div>
        </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/javascript/dashboard.js"></script>