<div class="pt-8  shadow:lg w-screen mb-12">
    <div class="flex flex-col items-center flex-1 h-full justify-center px-4 sm:px-0 h-160">
<div id="myuser" class="hidden">{{user_id}}</div>
        <div
            class="flex flex-col text-center bg-gradient-to-r from-blue-400 to-blue-900  shadow-lg w-full sm:w-3/4 lg:w-1/2 bg-white sm:mx-0 ">
            <form class="quiz-form" onsubmit="event.preventDefault();">
                <div id="quiz-title" class="text-4xl text-blue-900 font-bold mt-14 ">
                    Take a Quiz
                </div>
                <div id="quiz-content" class="ml-12 mr-12 p-4 text-l text-white  mt-4 h-28">
                    We’ve developed a set of technical interview questions that you can practice multiple times. Take
                    advantage of these opportunity and shine during the technical interview.
                </div>
                {{!-- --}}
               <div class="flex w-full items-center justify-center ">
                <div id="show-answer" class="hidden">
                    <div class="flex border rounded-lg overflow-hidden m-4 select-none w-min justify-center ">
                    <label class="flex radio p-2 cursor-pointer">
                        <input class="my-auto"  type="radio" id="yes" name="answ" />
                        <div class="title px-2  ">True</div>
                    </label>

                    <label class="flex radio p-2 cursor-pointer">
                        <input class="my-auto" type="radio" id="no" name="answ" />
                        <div class="title px-2 ">False</div>
                    </label>

                  <button id="submit-answer" class="title py-3 my-auto px-5 bg-yellow-200 text-blue-900 hover:bg-yellow-500 hover:text-gray-100 text-sm font-semibold ml-3">Submit</button>
                  </div>
                </div>
               </div>
                {{!-- --}}
                <div class="mt-16 mb-8">
                    <button id="start-stop"
                        class="p-3 text-xl bg-yellow-200 text-blue-900 rounded-lg shadow-xs cursor-pointer hover:bg-yellow-500 hover:text-gray-100">
                        Start > </button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</div>
   <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/javascript/homepage.js"></script>