

  <div class="flex-wraper max-w-6xl  px-10 m-4 p-4 bg-white  shadow-md">

 <div class="bg-white font-family-karla h-120">

    <div class="w-full flex flex-wrap m-4">

        <!-- Login Section -->
        <div class="w-full md:w-1/2 flex flex-col">

            <div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32">
                <p class="text-center text-3xl">Welcome</p>
                <form class="login-form flex flex-col pt-3 md:pt-8" onsubmit="event.preventDefault();">
                    <div class="flex flex-col pt-4">
                        <label for="email-login" class="text-lg">Email</label>
                        <input type="email" id="email-login" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline">
                    </div>
    
                    <div class="flex flex-col pt-4">
                        <label for="password-login" class="text-lg">Password</label>
                        <input type="password" id="password-login"  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline">
                    </div>
                                    <div id= "wronginput" class="pt-2 pb-2 text-red-300">
                    <p>Wrong email or password</p>
                </div>
                     <div>
                    <button type="submit" class="bg-black text-white font-bold text-lg hover:bg-gray-700 p-2 ">Login</button>
                  </div>
                </form>

                <div class="text-center pt-4 pb-12">
                    <p>Don't have an account? <a href="/signup" class="underline font-semibold">Sign up.</a></p>
                </div>
            </div>

        </div>

        <!-- Image Section -->
  
        
            <img class="w-1/2  p-24 shadow-2xl object-cover w-full hidden md:block" src="https://www.nfcfinance.com/webres/Image/Login/photo-login.jpg" >
           
       
    </div>

</div>

<script src="/javascript/login.js"></script>