

  <div class="flex-wraper max-w-6xl  px-10 m-4 p-4 bg-white shadow-md">

 <div class="bg-white font-family-karla h-120">

    <div class="w-full flex flex-wrap m-4">

        <!-- Login Section -->
        <div class="w-full md:w-1/2 flex flex-col">

            <div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32">
                <p class="text-center text-3xl">Welcome</p>
                <form class="signup-form flex flex-col pt-3 md:pt-8" onsubmit="event.preventDefault();">
                  <div class="flex flex-col pt-4">
                        <label for="username-signup" class="text-lg">Name</label>
                        <input type="text" id="username-signup"  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline">
                    </div>

                    <div class="flex flex-col pt-4">
                        <label for="email-signup" class="text-lg">Email</label>
                        <input type="email" id="email-signup" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline">
                    </div>
    
                    <div class="flex flex-col pt-4">
                        <label for="password-signup" class="text-lg">Password</label>
                        <input type="password" id="password-signup"  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline">
                    </div>
                     <div class="pt-4">
                    <button type="submit" class="bg-black text-white font-bold text-lg hover:bg-gray-700 p-2 ">Sign Up</button>
                  </div>
                   <div class="text-center pt-4 pb-12">
                    <p>Already have an account? <a href="/login" class="underline font-semibold">Login.</a></p>
                </div>
                </form>

               
            </div>

        </div>

        <!-- Image Section -->
        
            <img class="w-1/2 shadow-2xl p-24  object-cover w-full hidden md:block" src="https://media.istockphoto.com/photos/human-figure-icon-graphic-as-user-login-button-on-white-keyboard-picture-id1226883131?b=1&k=20&m=1226883131&s=170667a&w=0&h=FMYb1DFOYbcb2vmbzZhq71k-4cuarJ1U4xCBWjGnze8=">
       
    </div>

</div>


  

</div>

<script src="/javascript/signup.js"></script>